<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/themes.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/filepicker.css') }}" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/filepick.js') }}"></script>
        <title>Chemu Web Interface | Choose Files</title>
    </head>
    <body>
        <h1>
            Welcome to Chemu! TEST
        </h1>
        <h2>
            Please choose a .o file to run.
        </h2>
        <div>
            <form name="files" action="/init" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                <p>
                    <h2>Input user program (.o file) to run:</h2>
                    <input type="file" id="input-file-picker" name="input-file" accept=".o">
                </p>
                <p>
                    <h2>Select OS to run:</h2>
                    <div>
                        <input type="radio" name="os-choice" id="no-os" value="none" onclick="onChooseOSDeselected()" checked>
                        <label for="no-os">None</label>
                    </div>
                    <div>
                        <input type="radio" name="os-choice" id="default-os" value="default" onclick="onChooseOSDeselected()">
                        <label for="default-os">Default OS (-o: os.o, -m: chaos.o)</label>
                    </div>
                    <div>
                        <input type="radio" name="os-choice" id="pick-os" value="user" onclick="onChooseOSSelected()">
                        <label for="pick-os">Choose file:</label>
                        <input type="file" id="os-file-picker" name="os-file" accept=".o" disabled>
                    </div>

                </p>
                <p>
                    <h2>Select OS load options:</h2>
                    <div>
                        <input type="radio" name="dash-option" id="use-o-checkbox" value="first" onclick="onDashMSelected()" checked>
                        <label for="use-m=radio">Load OS before user .o file (-o option)</label>
                    </div>
                    <div>
                        <input type="radio" name="dash-option" id="use-m-checkbox" value="second" onclick="onDashOSelected()">
                        <label for="use-m=radio">Load OS after user .o file (-m option)</label>
                    </div>
                </p>
                <input type="submit" value="Run">
            </form>
        </div>
    </body>
</html>
